<!DOCTYPE html>
<html lang="en" data-ng-controller="AppCtrl">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title ng-bind="pageTitle">AngularJS Made Easy</title>

        <!-- social media tags -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@newedgeengineer" />
        <meta name="twitter:title" content="simon says" />
        <meta name="twitter:description" content="Memory Games" />
        <meta name="twitter:creator" content="@joshdmiller" />
        <meta name="twitter:image:src" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
        <meta property="og:title" content="simon says" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://bit.ly/ngBoilerplate" />
        <meta property="og:image" content="https://a248.e.akamai.net/assets.github.com/images/modules/logos_page/Octocat.png?1366128846" />
        <meta property="og:description" content="Memory Games">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Memory Games">
        <!-- Place favicon.ico (with ? to ensure firefox pick this up) and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="favicon.ico?">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <!-- font awesome from BootstrapCDN -->
        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

        <!-- compiled CSS -->
<% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
<% }); %>

        <!-- it's stupid to have to load it here, but this is for the +1 button -->
        <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
            { "parsetags": "explicit" }
        </script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="container" ui-view="main"></div>

        <footer class="footer">
            <div class="container">
                <div class="footer-inner">
                    <ul class="social">
                        <li>
                            <a target="_blank" href="https://www.google.com/+NewedgeengineeringLimited"><i class="fa fa-google-plus-sign"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="http://twitter.com/newedgeengineer"><i class="fa fa-twitter-sign"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/company/new-edge-engineering-ltd"><i class="fa fa-linkedin-sign"></i></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/New-Edge-Engineering/simon says"><i class="fa fa-github-sign"></i></a>
                        </li>
                    </ul>

                    <p>
                        (c) 2015 <a href="http://www.newedgeengineering.com">New EdgeEngineering Ltd</a>. <a href="https://github.com/New-Edge-Engineering/simon says/fork_select">Fork this</a>
                        to kickstart your next project.
                        <br />
                        This kickstarter is based on
                        <a href="http://www.angularjs.org">AngularJS</a>, <a href="http://getbootstrap.com">Bootstrap</a>, <a href="http://angular-ui.github.com/bootstrap">UI Bootstrap</a>,
                        and
                        <a href="http://fortawesome.github.com/Font-Awesome">Font Awesome</a>.
                    </p>
                </div>
            </div>
        </footer>
        <!-- load JavaScript via AMD pattern -->
        <script type="text/javascript" src="lib/requirejs/require.js"></script>
        <script type="application/javascript">
require(['config.js'], function () {<% if(main != "") { %>
    require(['<%= main %>'], function() {
      require(['app/app.main']);
    });<% } else { %>
    require(['app/app.main']);
<% } %>});
</script>
    </body>
</html>
